<ion-view view-title="Recherche">
  <ion-content>
      <form ng-submit="doSearch()">
          <div class="list">
              <label class="item item-input">
                  <span class="input-label">Recherche</span>
                  <input type="text" ng-model="search.content">
              </label>
              <label class="item">
                  <button class="button button-block button-positive" type="submit">Rechercher</button>
              </label>
          </div>
      </form>
  </ion-content>
</ion-view>
