/* Empty. Add your own CSS if you like */
.bar.bar-stable {
    background: -webkit-linear-gradient(bottom,#262626 0,#353535 100%);
}
.bar.bar-stable .title, .bar-stable .button.button-icon, .bar-stable .button.button-clear {
    color: #fff;
    text-shadow: -1px 1px 2px #000;
    font-family: 'Oswald',sans-serif;
}
.itemResult img {
    height: 40px;
}
.itemResult {
    position: relative;
}
.itemResult .titleResult {
    position: absolute;
    left: 70px;
    top: 12px;
}

.btn-login {
    z-index: 2;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
    text-align: center;
    padding: 15px;
    font-size: 24px;
    border-color: #0c63ee;
    background-color: #387ef5;
    color: #fff;
}

.suggestionsTitle, .videoAdded, .loading, .noVideo {
    z-index: 2;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
}

.suggestionsTitle, .videoAdded, .loading, .noVideo {
    padding: 15px;
    text-align: center;
    color: #98a7b8;
}

h3.videoAdded, h3.loading {
    margin-top: 20px;
}

.paddingMenuTop {
    margin-top: 25px !important;
}

.currentPlayed, .suggest {
    padding-bottom: 35px;
}
.currentPlayed .title, .suggest .title {
    font-size: 13px;
    color: #98a7b8;
    display: block;
    font-weight: 600;
    padding: 5px;
}

.currentPlayed .counts {
    position: absolute;
    bottom: 3px;
    right: 4%;
    color: #666;
    font-size: 85%;
}

.currentPlayed .counts i {
    padding-right: 6px;
}

.currentPlayed .vote {
    position: absolute;
    left: 5%;
    bottom: 25px;
    height: 2px;
    width: 90%;
    border-radius: 4px;
    background-color: #ccc;
}

.currentPlayed .vote .like {
    background-color: #590;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 2px;
    float: left;
}

.currentPlayed .counts .likeCount, .currentPlayed .counts .dislikeCount {
    display: inline-block;
    float: left;
    margin: 0 3px;
}

.scroll-content {
    background-color: #ecedef;
}

.buttonsAction {
    cursor: pointer;
    width: 44px;
    left: 50%;
    margin-left: -22px;
    position: absolute;
    top: 132px;
    z-index: 100;
}
.buttonsAction .step-backward, .buttonsAction .step-forward {
    background: rgba(0, 0, 0, .7);
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 15px;
    margin-left: -100px;
    width: 60px;
    height: 30px;
    border: 3px solid #F7F7F7;
    color: #F7F7F7;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.7), 0 0 20px -3px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 9px #000;
}

.buttonsAction .step-forward {
    margin-left: 37px;
}

.buttonsAction .step-backward i, .buttonsAction .step-forward i {
    font-size: 13px;
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -4px;
}

.buttonsAction .btn {
    background: rgba(0, 0, 0, .7);
    border-radius: 60px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -30px;
    border: 3px solid #F7F7F7;
    color: #F7F7F7;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.7), 0 0 20px -3px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 9px #000;
    width: 60px;
    height: 60px;
}

.buttonsAction .btn i {
    font-size: 26px;
    position: absolute;
    left: 50%;
    top: 15px;
    margin-left: -11px;
}


.buttonsAction .btn.play i {
    margin-left: -8px;
}


.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 17px;
}
